---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="下層ページ">
	<main class="main">
		<p>サンプル下層ページ</p>














	</main>
</Layout>

<style>
	.main{
		padding: 200px;
	}
</style>
