<footer class="l-footer">
	<div class="l-inner-wrap-1600">
		<div class="l-footer__contents">
			<div class="l-footer__logo"><img src="/assets/images/kv_logo.svg" alt=""></div>

			<div class="l-footer__nav">
				<div class="l-footer__nav__block --chapter">
					<p class="l-footer__nav__label --chapter"><img src="/assets/images/footer_label_chapter.svg" alt=""></p>
					<ul class="l-footer__nav__list --chapter">
						<li><a class="ani-hover-op" href="#">鯖江で生まれる品質</a></li>
						<li><a class="ani-hover-op" href="#">パリミキ品質</a></li>
						<li><a class="ani-hover-op" href="#">展開ブランド</a></li>
					</ul>
				</div>

				<div class="l-footer__nav__block --site">
					<p class="l-footer__nav__label --site"><img src="/assets/images/footer_label_site.svg" alt=""></p>
					<ul class="l-footer__nav__list --site">
						<li><a class="ani-hover-op" href="@@@" target="_blank">Create3</a></li>
						<li><a class="ani-hover-op" href="@@@" target="_blank">PARIS MIKI </a></li>
					</ul>
				</div>
			</div>

			<ul class="l-footer__sns-list">
				<li><a class="ani-hover-op twitter" href="@@@" target="_blank"><img src="/assets/images/icn_twitter.svg" alt="Twitter"></a></li>
				<li><a class="ani-hover-op instagram" href="@@@" target="_blank"><img src="/assets/images/icn_instagram.svg" alt="Instagram"></a></li>
			</ul>




		</div>

		<p class="l-footer__copyright">Copyright &copy; PARIS MIKI Inc .All Right reserved. </p>
	</div>
</footer>