---
import Layout from '../layouts/Layout.astro';

const a = 'aaaaaaaaaaa'

---

<Layout title="適当に勉強">
	<main class="main">

	</main>
</Layout>

<script>
	// import indexPage from '../assets/javascripts/pages/index/script'
	// indexPage()

</script>

<style>

</style>
