---
import Layout from '../layouts/Layout.astro';

const a = 'aaaaaaaaaaa'

---

<Layout title="Welcome to Astro.">
	<main class="main">
		<div class="kv">
			<div class="kv__img">
				<picture>
					<source media="(max-width: 768px)" srcset="/assets/images/kv.jpg">
					<img src="./assets/images/kv.jpg" alt="">
				</picture>
			</div>

			<div class="kv__copy-block">
				<h1 class="kv__copy"><img class="u-base-fit" src="./assets/images/kv_copy.svg" alt=""></h1>
				<p class="kv__txt">
					<source media="(max-width: 768px)" srcset="/assets/images/kv_txt.svg">
					<img src="./assets/images/kv_txt.svg" alt="">
				</p>
			</div>
			<div class="kv__logo"><img src="./assets/images/kv_logo.svg" alt=""></div>
		</div>
		<!-- /kv -->




		<section class="section-intro">
			<div class="l-inner-wrap-1600">
				<section class="section-intro__inner-section --1">
					<h2 class="section-intro__inner-section__ttl --1"><img src="./assets/images/section-intro_ttl_1.svg" alt=""></h2>
					<div class="section-intro__inner-section__des --1">
						<p>
							福井県はめがねの産地として世界にその名が知られ、日本製めがねの95％は福井県で作られています。めがね作りの中心地で、“めがね生産の聖地”と呼ばれるのが、鯖江（さばえ）です。
						</p>
						<a href="">{a}</a>
					</div>

					<div class="section-intro__inner-section__img --1"><img src="./assets/images/section-intro_img_01.jpg" alt=""></div>
				</section>

				<section class="section-intro__inner-section --2">
					<h2 class="section-intro__inner-section__ttl --2"><img src="./assets/images/section-intro_ttl_2.svg" alt=""></h2>
					<div class="section-intro__inner-section__des --2">
						<p>
							日本はもとより海外でも高い評価を得ている鯖江産めがね。「日本ならではの技術を活かし、素材も質の高い日本製を選ぶ」。そのため海外製の2倍、約250工程を経てひとつのめがねがつくられます。<br>
							パリミキは、「視力補正の機能性と本質」「優しい掛け心地の素材」「シンプルかつ美しいデザイン」を追求し、上質な日本製めがねをより身近に、長くご愛用いただけるよう開発しています。
						</p>
					</div>

					<div class="section-intro__inner-section__img --2--1 "><img src="./assets/images/section-intro_img_02_01.jpg" alt=""></div>
					<div class="section-intro__inner-section__img --2--2 "><img src="./assets/images/section-intro_img_02_02.jpg" alt=""></div>
				</section>

				<div class="section-intro__bottom-copy"><img src="./assets/images/section-intro_bottom-copy.svg" alt=""></div>

			</div>
		</section>
		<!-- /section -->


		<section class="section-middle">
			<div class="section-middle__kv"><img src="./assets/images/section-middle_kv.jpg" alt=""></div>
			<div class="l-inner-wrap-1600">
				<section class="section-middle__inner-section --1">
					<h2 class="section-middle__inner-section__ttl --1"><img src="./assets/images/section-middle_ttl_1.svg" alt=""></h2>
					<div class="section-middle__inner-section__des --1">
						<p>
							ひとが直接身に付け、毎日をともに過ごす大きな存在であるめがね。だからこそ、一つ一つの工程に、すべての技術とこだわりを注ぎ込む。時代に逆行し、ちょっと不器用かもしれない、そんな日本気質なめがねづくりに誇りを持ちながら、どこまでも品質を追いかけたい。<br>
							それが、パリミキのいつまでも変わることない想いです。<br>
							パリミキは、「本物のめがね」をもっと広く知ってもらうために、鯖江のメガネのすばらしさを発信しつづけます。
						</p>
					</div>
				</section>

				<div class="section-middle__insert-kv"><img src="./assets/images/section-middle__incsert-kv_1.jpg" alt=""></div>

				<section class="section-middle__inner-section --2">
					<h2 class="section-middle__inner-section__ttl --2"><img src="./assets/images/section-middle_ttl_2.svg" alt=""></h2>
					<div class="section-middle__inner-section__des --2">
						<p>
							パリミキは徹底した品質管理と製造を行うため、鯖江にある工場「クリエイトスリー」をパリミキグループに迎えました。<br>
							パーツの製作から外装にいいたるまで、各段階で綿密な検査を重ね、すべての品質基準を満たす商品のみ出荷しています。また、パリミキ店頭では独自のフィッティング技術で、一人ひとりが長くご愛用いただけるよう最終仕上げをおこない、皆様にお渡しします。<br>
							いちばん長く身につけるものだからこそ、徹底的にこだわり作り上げた「パリミキ品質」の鯖江めがねをぜひ体感してください。
						</p>
					</div>
					<div class="section-middle__inner-section__drawing-img"><img src="./assets/images/section-middle_drawing-img.png" alt=""></div>
				</section>


				<div class="section-middle__quality">
					<p class="section-middle__quality__label"><img src="./assets/images/quality_label.svg" alt="quality"></p>
					<div class="section-middle__quality__figure">
						<img src="./assets/images/quality_figure.png" alt="">
					</div>
				</div>

			</div>
		</section>
		<!-- /section -->


		<section class="section-brand">
			<div class="section-brand"><img src="./assets/images/section-brand_kv.jpg" alt=""></div>
			<div class="l-inner-wrap-1340">
				<h2 class="section-brand__ttl"><img src="./assets/images/section-brand_ttl.svg" alt=""></h2>

				<div class="section-brand__brand-list">
					<div class="section-brand__brand-list__box">
						<div class="section-brand__brand-list__img"><img src="./assets/images/section-brand_img_01.jpg" alt=""></div>
						<div class="section-brand__brand-list__txt-block">
							<p class="section-brand__brand-list__logo --stylej"><img src="./assets/images/section-brand_stylej.svg" alt=""></p>
							<h3 class="section-brand__brand-list__copy --stylej"><img src="./assets/images/section-brand_stylej_copy.svg" alt=""></h3>
							<p class="section-brand__brand-list__txt">
								鯖江の自社工場で、形状や機能性に徹底的にこだわり作り上げたstyle J。軽くてよくしなるテンプルや、痕がつきにくいノーズパットなど、日本製ならではの質の高いパーツを厳選し、柔らかく包み込むようにフィットする掛け心地を追求しました。
							</p>
							<div class="p-btn-bd-r-b to-brand-site"><a class="ani-hover-op" href="@@@" target="_blank"><img src="./assets/images/to-brand-site.svg" alt=""></a></div>
						</div>
					</div>

					<div class="section-brand__brand-list__box">
						<div class="section-brand__brand-list__img"><img src="./assets/images/section-brand_img_02.jpg" alt=""></div>
						<div class="section-brand__brand-list__txt-block">
							<p class="section-brand__brand-list__logo --authentic"><img src="./assets/images/section-brand_authentic.svg" alt=""></p>
							<h3 class="section-brand__brand-list__copy --authentic"><img src="./assets/images/section-brand_authentic_copy.svg" alt=""></h3>
							<p class="section-brand__brand-list__txt">
								優しい掛け心地と、シンプルでニュートラルかつ、お客様の“色”を引き出すデザインを追求したアイテム。飽きがきにくく、使い込むほどに愛着が増していくAuthentic(=本物)なめがねを多くの方々に体験いただきたいと考え、手に届きやすい価格帯でご提供しています。
							</p>
							<div class="p-btn-bd-r-b to-brand-site"><a class="ani-hover-op" href="@@@" target="_blank"><img src="./assets/images/to-brand-site.svg" alt=""></a></div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- /section -->



		<section class="section-sabae-plant">
			<div class="l-inner-wrap-1340">
				<h2 class="section-sabae-plant__ttl"><img src="./assets/images/section-sabae-plant_ttl.svg" alt=""><span class="ja">ー 福井県鯖江市</span></h2>

				<div class="section-sabae-plant__box">
					<div class="section-sabae-plant__box__img"><img src="./assets/images/section-sabae-plant_img.jpg" alt=""></div>
					<div class="section-sabae-plant__box__txt-block">
						<p class="section-sabae-plant__box__logo"><img src="./assets/images/section-sabae-plant_create3.svg" alt=""></p>
						<p class="section-sabae-plant__box__logo-ja">〈クリエイトスリー〉</p>
						<p class="section-sabae-plant__box__copy"><img src="./assets/images/section-sabae-plant_copy.svg" alt=""></p>
						<p class="section-sabae-plant__box__txt">
							メッキ加工からはじまり、技術とともに紡いできた１００年の歴史。「ものづくり」企業としての誇りを受け継ぎ、長年培われてきた製造技術の継承と、常に新しいモノ作りへのチャレンジ精神を追いかけていきます。
						</p>
						<div class="p-btn-bd-r-b to-company-site"><a class="ani-hover-op" href="@@@" target="_blank"><img src="./assets/images/to-company-site.svg" alt=""></a></div>
					</div>
			</div>
		</section>

		<div class="bottom-logo-block">
			<img src="./assets/images/logo.svg" alt="">
		</div>

	</main>
</Layout>

<script>
	import indexPage from '../assets/javascripts/pages/index/script'
	indexPage()

</script>

<style>

</style>
