@use "../variable" as *;
@use "../mixin" as *;

////////////////////////////////////////////////////////////
// layout
////////////////////////////////////////////////////////////
.l-inner-wrap-1600{
	width: pcMin(1700); //最大1700px
	padding: 0 pcMin(50);
	margin-left: auto;
  margin-right: auto;
  position: relative;
	@media only screen and (max-width: $breakpoint){
		width: vw(358);
	}
}
.l-inner-wrap-1340{
	width: pcMin(1700); //最大1700px
	padding: 0 pcMin(180);
	margin-left: auto;
  margin-right: auto;
  position: relative;
	@media only screen and (max-width: $breakpoint){
		width: vw(358);
	}
}


