@use "../variable" as *;
@use "../mixin" as *;
////////////////////////////////////////////////////////////
// p-
////////////////////////////////////////////////////////////
.p-btn-bd-r-b{
	width: pcMin(205);
	height: pcMin(35);
	a{
		width: 100%;
		height: 100%;
		display: block;
		border-bottom: 1px solid #000;
		border-right: 1px solid #000;
		img{
			width: pcMin(181);
			display: block;
		}
	}
}
